<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
</head>

<style>
    .diffplus {
        color: blue;
        font-weight: bold;
    }

    .diffminus {
        color: red;
        font-weight: bold;
        text-decoration: line-through;
    }
</style>
<script src="jquery-3.4.1.min.js"></script>
<script src="d3.v4.min.js"></script>
<script src="viz.js"></script>
<script src="d3-graphviz.min.js"></script>

<body>
<div id="graph" style="text-align: center; width: 100%; height: 60%;"></div>

<div style="visibility: hidden;">
  {% for c in codes %}
    <span id="node_{{c['id']}}" class="snippet">
        <code style="font-weight: bold;">{{c['header']}}</code><hr/>
        <pre><code>{{c['body']}}</code></pre>
    </span>
  {% endfor %}

  {% for d in diffs %}
    <span id="diff_{{d['id1']}}_{{d['id2']}}" class="snippet">
        <code style="font-weight: bold;">{{d['header1']}}</code>
        <br/><span style="text-align: center; background: cyan;"> VS </span><br/>
        <code style="font-weight: bold;">{{d['header2']}}</code>
        <hr/>
        <code>{{d['diff']}}</code>
    </span>
  {% endfor %}

</div>

<div id="code" style="width: 100%; height: 40%; font-family: monospace;"></div>

</body>

<script>
$(document).ready(()=>{
  $('.snippet').hide();

  d3.select("#graph").graphviz()
    .fade(false)
    .renderDot(`digraph G {

  {% for n in nodes %}
    node_{{ n['id'] }} [shape="rectangle", label="{{ n['label'] }}", href="#node_{{ n['id'] }}"];
  {% endfor %}

  {% for e in edges %}
    node_{{ e['u'] }} -> node_{{ e['v'] }} [label="diff", href="#diff_{{ e['u'] }}_{{ e['v'] }}"];
  {% endfor %}

}`);

window.setTimeout(()=>{
    $('#graph svg').width($(window).width).height($(window).innerHeight() * 0.6);
},
0);

});


$(window).on('hashchange', function() {
  let sid = window.location.hash;
  console.log(sid);
  $('#code').html(($(`${sid}`)[0]).innerHTML)
});
</script>


</html>